{
	"intl": {
		"accept_languages": "en-GH,en,en-US",
		"selected_languages": "en-GH,en,en-US",
		"app_locale": "en-US",
		"forced_languages": [
			"en-US"
		]
	},
	"gologin": {
		"api_domain": "https://api.gologin.com",
		"profile_token": "",
		"profile_id": "69b063612352dbfa18457d6e",
		"userId": "69b0631b2e2782bf1a8df13a",
		"userPlanName": "trial",
		"name": "profile 1",
		"is_m1": false,
		"geoLocation": {
			"mode": "prompt",
			"latitude": 5.55602,
			"longitude": -0.1969,
			"accuracy": 100
		},
		"navigator": {
			"platform": "Linux armv81",
			"max_touch_points": 5
		},
		"dns": "",
		"proxy": {
			"mode": "fixed_servers",
			"server": "localhost:1080",
			"username": "",
			"password": "",
			"schema": "socks5"
		},
		"screenHeight": 1080,
		"screenWidth": 1920,
		"userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.7499.192 Safari/537.36",
		"webGl": {
			"vendor": "ARM",
			"renderer": "Mali-G68 MC4",
			"mode": true
		},
		"mobile": {
			"enable": false,
			"width": 1920,
			"height": 1080,
			"device_scale_factor": 1.75
		},
		"doNotTrack": false,
		"storage": {
			"enable": true
		},
		"languages": "en-GH,en,en-US",
		"langHeader": "en-GH,en;q=0.9,en-US;q=0.8",
		"hardwareConcurrency": 8,
		"deviceMemory": 8192,
		"startupUrl": "",
		"startup_urls": [
			""
		],
		"timezone": {
			"id": "Africa/Accra"
		},
		"unpinable_extension_names": [
			"passwords-ext"
		]
	}
}